Repository aram-devdocs/solace-candidate-assignment-main: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

chore: add pull request template to standardize PR submissions
  .github/pull_request_template.md
Due: prettier --write

docs: update CLAUDE.md to remove project overview, add DISCUSSION.md for project references and logs, and include initial images for UI development; add .gitignore for local files
  CLAUDE.md
  DISCUSSION.md
  docs/.gitignore
  docs/images/before_mobile.png
  docs/images/before_web.png
Due: prettier --write

fix: resolve TypeScript strict mode violations and restore pre-commit checks
  .husky/pre-commit
  apps/web/src/app/page.tsx
Due: eslint --fix, prettier --write

docs: add link to PR 2 for fixing GitHub actions and deployment failures in DISCUSSION.md
  DISCUSSION.md
Due: prettier --write

feat: fix search functionality and refactor to clean architecture
  apps/web/package.json
  apps/web/src/app/page.tsx
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/use-debounced-value.ts
  packages/hooks/src/use-search.ts
  packages/queries/src/advocates.ts
  packages/queries/src/index.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/search.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test: add network and JSON parsing error tests to fetchAdvocates
  DISCUSSION.md
  packages/hooks/package.json
  packages/hooks/src/__tests__/use-debounced-value.test.ts
  packages/hooks/src/__tests__/use-search.test.ts
  packages/hooks/vitest.config.ts
  packages/queries/package.json
  packages/queries/src/__tests__/advocates.test.ts
  packages/queries/vitest.config.ts
  packages/utils/package.json
  packages/utils/src/__tests__/fixtures/advocates.ts
  packages/utils/src/__tests__/search.test.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: implement database migrations, seeding, and simplified dev workflow
  .env
  .env.example
  .github/workflows/ci.yml
  DISCUSSION.md
  README.md
  apps/web/next.config.mjs
  apps/web/src/app/api/advocates/route.ts
  apps/web/src/app/api/seed/route.ts
  docker-compose.yml
  drizzle.config.ts
  packages/database/migrations/0000_warm_medusa.sql
  packages/database/migrations/0001_flat_joseph.sql
  packages/database/migrations/meta/0000_snapshot.json
  packages/database/migrations/meta/0001_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/package.json
  packages/database/src/__tests__/fixtures/advocates.ts
  packages/database/src/__tests__/fixtures/index.ts
  packages/database/src/client.ts
  packages/database/src/index.ts
  packages/database/src/migrate.ts
  packages/database/src/schema.ts
  packages/database/src/scripts/seed.ts
  packages/database/testing/package.json
  packages/queries/src/__tests__/advocates.test.ts
  packages/utils/package.json
  packages/utils/src/__tests__/fixtures/advocates.ts
  packages/utils/src/__tests__/search.test.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

fix: detect CI environment to skip local Neon proxy configuration
  packages/database/src/client.ts
  packages/database/src/migrate.ts
Due: eslint --fix, prettier --write

refactor: update WebSocket configuration for Node.js environments
  packages/database/src/client.ts
  packages/database/src/migrate.ts
Due: eslint --fix, prettier --write

feat: implement atomic design system with Storybook for UI components
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  CLAUDE.md
  DISCUSSION.md
  README.md
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/tailwind.config.ts
  packages/ui/.eslintrc.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/atoms/Button.stories.tsx
  packages/ui/src/atoms/Button.tsx
  packages/ui/src/atoms/Input.stories.tsx
  packages/ui/src/atoms/Input.tsx
  packages/ui/src/atoms/TableCell.stories.tsx
  packages/ui/src/atoms/TableCell.tsx
  packages/ui/src/atoms/Text.stories.tsx
  packages/ui/src/atoms/Text.tsx
  packages/ui/src/index.tsx
  packages/ui/src/molecules/ErrorState.stories.tsx
  packages/ui/src/molecules/ErrorState.tsx
  packages/ui/src/molecules/LoadingState.stories.tsx
  packages/ui/src/molecules/LoadingState.tsx
  packages/ui/src/molecules/SearchBar.stories.tsx
  packages/ui/src/molecules/SearchBar.tsx
  packages/ui/src/molecules/TableHeader.stories.tsx
  packages/ui/src/molecules/TableHeader.tsx
  packages/ui/src/molecules/TableRow.stories.tsx
  packages/ui/src/molecules/TableRow.tsx
  packages/ui/src/organisms/AdvocateTable.stories.tsx
  packages/ui/src/organisms/AdvocateTable.tsx
  packages/ui/src/styles.css
  packages/ui/src/templates/AdvocateListTemplate.stories.tsx
  packages/ui/src/templates/AdvocateListTemplate.tsx
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add storybook-static to .gitignore
  .gitignore
Due: none

docs: add web app link to discussion document
  DISCUSSION.md
Due: prettier --write

feat: implement application layout with navigation and 404 page
  DISCUSSION.md
  apps/web/src/app/not-found.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/use-navigation.ts
  packages/ui/package.json
  packages/ui/src/atoms/Avatar.stories.tsx
  packages/ui/src/atoms/Avatar.tsx
  packages/ui/src/atoms/Badge.stories.tsx
  packages/ui/src/atoms/Badge.tsx
  packages/ui/src/atoms/Button.tsx
  packages/ui/src/atoms/Icon.stories.tsx
  packages/ui/src/atoms/Icon.tsx
  packages/ui/src/atoms/IconButton.stories.tsx
  packages/ui/src/atoms/IconButton.tsx
  packages/ui/src/atoms/Input.tsx
  packages/ui/src/index.tsx
  packages/ui/src/molecules/Footer.stories.tsx
  packages/ui/src/molecules/Footer.tsx
  packages/ui/src/molecules/Header.stories.tsx
  packages/ui/src/molecules/Header.tsx
  packages/ui/src/molecules/NavigationItem.stories.tsx
  packages/ui/src/molecules/NavigationItem.tsx
  packages/ui/src/molecules/NavigationMenu.stories.tsx
  packages/ui/src/molecules/NavigationMenu.tsx
  packages/ui/src/molecules/NotFoundState.stories.tsx
  packages/ui/src/molecules/NotFoundState.tsx
  packages/ui/src/molecules/TableHeader.tsx
  packages/ui/src/molecules/TableRow.tsx
  packages/ui/src/organisms/AdvocateTable.tsx
  packages/ui/src/organisms/RootLayout.stories.tsx
  packages/ui/src/organisms/RootLayout.tsx
  packages/ui/src/templates/AppLayout.tsx
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: centralize navigation items into a constants file
  apps/web/src/app/not-found.tsx
  apps/web/src/app/page.tsx
  apps/web/src/constants/navigation.ts
Due: eslint --fix, prettier --write

feat: enhance greeting component and update navigation items
  DISCUSSION.md
  apps/web/public/fonts/Mollie-Glaston.woff2
  apps/web/src/app/globals.css
  apps/web/src/constants/navigation.ts
  packages/ui/src/index.tsx
  packages/ui/src/molecules/Greeting.stories.tsx
  packages/ui/src/molecules/Greeting.tsx
  packages/ui/src/molecules/Header.tsx
  packages/ui/src/molecules/NavigationItem.tsx
  packages/ui/src/molecules/NavigationMenu.tsx
  packages/ui/src/molecules/SearchBar.tsx
  packages/ui/src/organisms/RootLayout.tsx
  packages/ui/src/templates/AdvocateListTemplate.tsx
  packages/ui/tailwind.config.ts
Due: eslint --fix, prettier --write

feat: enhance UI components with new illustrations and icons
  packages/eslint-config/library.js
  packages/ui/src/atoms/AfternoonIllustration.stories.tsx
  packages/ui/src/atoms/AfternoonIllustration.tsx
  packages/ui/src/atoms/CustomIcon.stories.tsx
  packages/ui/src/atoms/CustomIcon.tsx
  packages/ui/src/atoms/EveningIllustration.stories.tsx
  packages/ui/src/atoms/EveningIllustration.tsx
  packages/ui/src/atoms/FormsIcon.stories.tsx
  packages/ui/src/atoms/FormsIcon.tsx
  packages/ui/src/atoms/HealthInsuranceIcon.stories.tsx
  packages/ui/src/atoms/HealthInsuranceIcon.tsx
  packages/ui/src/atoms/HelpIcon.stories.tsx
  packages/ui/src/atoms/HelpIcon.tsx
  packages/ui/src/atoms/HomeIcon.stories.tsx
  packages/ui/src/atoms/HomeIcon.tsx
  packages/ui/src/atoms/MessagesIcon.stories.tsx
  packages/ui/src/atoms/MessagesIcon.tsx
  packages/ui/src/atoms/MorningIllustration.stories.tsx
  packages/ui/src/atoms/MorningIllustration.tsx
  packages/ui/src/atoms/NotesIcon.stories.tsx
  packages/ui/src/atoms/NotesIcon.tsx
  packages/ui/src/atoms/SolaceLogo.stories.tsx
  packages/ui/src/atoms/TableCell.tsx
  packages/ui/src/atoms/Text.tsx
  packages/ui/src/index.tsx
  packages/ui/src/molecules/Greeting.tsx
  packages/ui/src/molecules/Header.tsx
  packages/ui/src/molecules/NavigationItem.tsx
  packages/ui/src/molecules/NavigationMenu.tsx
Due: eslint --fix, prettier --write

feat: enhance navigation and loading states in UI components
  apps/web/src/app/(app)/layout.tsx
  packages/ui/package.json
  packages/ui/src/atoms/CustomIcon.tsx
  packages/ui/src/index.tsx
  packages/ui/src/molecules/NavigationItem.tsx
  packages/ui/src/molecules/NavigationMenu.tsx
  packages/ui/src/molecules/SkeletonGreeting.stories.tsx
  packages/ui/src/molecules/SkeletonGreeting.tsx
  packages/ui/src/organisms/RootLayout.stories.tsx
  packages/ui/src/organisms/RootLayout.tsx
  packages/ui/src/templates/AdvocateListTemplate.tsx
  packages/ui/src/templates/AppLayout.tsx
  packages/ui/src/templates/SkeletonAdvocateListTemplate.tsx
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add design tokens documentation and update Tailwind configuration
  packages/ui/DESIGN_TOKENS.md
  packages/ui/src/atoms/IconButton.tsx
  packages/ui/src/molecules/Header.tsx
  packages/ui/src/molecules/NotFoundState.tsx
  packages/ui/src/stories/DesignTokens.stories.tsx
  packages/ui/tailwind.config.ts
Due: eslint --fix, prettier --write

feat: add ESLint accessibility enforcement with error-level blocking
  DISCUSSION.md
  apps/web/src/app/(app)/page.tsx
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/hooks/src/index.ts
  packages/hooks/src/use-device-size.ts
  packages/hooks/src/use-expandable-rows.ts
  packages/ui/.eslintrc.json
  packages/ui/package.json
  packages/ui/src/atoms/Avatar.stories.tsx
  packages/ui/src/atoms/Button.tsx
  packages/ui/src/atoms/Input.tsx
  packages/ui/src/atoms/TableCell.tsx
  packages/ui/src/constants/accessibility.ts
  packages/ui/src/constants/table.ts
  packages/ui/src/index.tsx
  packages/ui/src/molecules/ErrorState.tsx
  packages/ui/src/molecules/Footer.stories.tsx
  packages/ui/src/molecules/Greeting.tsx
  packages/ui/src/molecules/LoadingState.tsx
  packages/ui/src/molecules/NavigationItem.stories.tsx
  packages/ui/src/molecules/NavigationMenu.stories.tsx
  packages/ui/src/molecules/NavigationMenu.tsx
  packages/ui/src/molecules/SearchBar.stories.tsx
  packages/ui/src/molecules/SearchBar.tsx
  packages/ui/src/molecules/SkeletonSearchBar.tsx
  packages/ui/src/molecules/TableHeader.tsx
  packages/ui/src/molecules/TableRow.tsx
  packages/ui/src/organisms/AdvocateTable.stories.tsx
  packages/ui/src/organisms/AdvocateTable.tsx
  packages/ui/src/organisms/RootLayout.stories.tsx
  packages/ui/src/organisms/RootLayout.tsx
  packages/ui/src/stories/DesignTokens.stories.tsx
  packages/ui/src/templates/AdvocateListTemplate.stories.tsx
  packages/ui/src/templates/AdvocateListTemplate.tsx
  packages/utils/src/breakpoints.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: update NavigationItem and NavigationMenu for responsive behavior
  packages/ui/src/molecules/NavigationItem.tsx
  packages/ui/src/molecules/NavigationMenu.tsx
Due: eslint --fix, prettier --write

docs: update DISCUSSION.md with PR link and insights on mobile responsiveness
  DISCUSSION.md
Due: prettier --write

refactor: remove duplicate advocate hooks, use generic hooks directly
  DISCUSSION.md
  apps/web/src/app/(app)/page.tsx
  packages/hooks/src/__tests__/use-search.test.ts
  packages/hooks/src/index.ts
  packages/hooks/src/use-advocate-filters.ts
  packages/hooks/src/use-advocate-pagination.ts
  packages/hooks/src/use-advocate-sorting.ts
  packages/ui/src/atoms/FilterChip.tsx
  packages/ui/src/atoms/TableCell.stories.tsx
  packages/ui/src/atoms/TableCell.tsx
  packages/ui/src/index.tsx
  packages/ui/src/molecules/AreaCodeBadge.stories.tsx
  packages/ui/src/molecules/AreaCodeBadge.tsx
  packages/ui/src/molecules/CityBadge.tsx
  packages/ui/src/molecules/DegreeBadge.tsx
  packages/ui/src/molecules/SpecialtyBadge.tsx
  packages/ui/src/molecules/TableRow.stories.tsx
  packages/ui/src/molecules/TableRow.tsx
  packages/ui/src/organisms/ActiveFiltersBar.tsx
  packages/ui/src/organisms/AdvocateTable.tsx
  packages/ui/src/organisms/FilterPanel.tsx
  packages/ui/src/templates/AdvocateListTemplate.tsx
  packages/utils/src/__tests__/area-code.test.ts
  packages/utils/src/__tests__/format.test.ts
  packages/utils/src/area-code.ts
  packages/utils/src/filter.ts
  packages/utils/src/format.ts
  packages/utils/src/index.ts
Due: eslint --fix, prettier --write

docs: update DISCUSSION.md with PR link and enhancements summary
  DISCUSSION.md
Due: prettier --write

refactor: implement service layer for advocate data access
  CLAUDE.md
  DISCUSSION.md
  apps/web/package.json
  apps/web/src/app/api/advocates/route.ts
  packages/services/package.json
  packages/services/src/__tests__/advocates.test.ts
  packages/services/src/advocates.ts
  packages/services/src/index.ts
  packages/services/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: update DISCUSSION.md with PR link and service layer summary
  DISCUSSION.md
Due: prettier --write

feat: implement comprehensive toast system and error handling (issue #9)
  DISCUSSION.md
  apps/web/src/app/(app)/page.tsx
  apps/web/src/app/api/advocates/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/providers.tsx
  packages/eslint-config/library.js
  packages/hooks/src/ErrorBoundary.tsx
  packages/hooks/src/ToastContext.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/use-toast.ts
  packages/services/src/__tests__/advocates.test.ts
  packages/services/src/advocates.ts
  packages/types/src/errors.ts
  packages/types/src/index.ts
  packages/types/src/result.ts
  packages/ui/src/atoms/LoadingSpinner.tsx
  packages/ui/src/atoms/Toast.stories.tsx
  packages/ui/src/atoms/Toast.tsx
  packages/ui/src/atoms/ToastContainer.stories.tsx
  packages/ui/src/atoms/ToastContainer.tsx
  packages/ui/src/index.tsx
  packages/ui/src/molecules/ErrorBoundary.tsx
  packages/ui/src/molecules/ErrorState.tsx
  packages/ui/src/molecules/LoadingState.tsx
Due: eslint --fix, prettier --write

feat: add PhoneNumberDisplay component and update badges for whitespace handling
  packages/ui/src/index.tsx
  packages/ui/src/molecules/AreaCodeBadge.tsx
  packages/ui/src/molecules/CityBadge.tsx
  packages/ui/src/molecules/DegreeBadge.tsx
  packages/ui/src/molecules/PhoneNumberDisplay.stories.tsx
  packages/ui/src/molecules/PhoneNumberDisplay.tsx
  packages/ui/src/molecules/SpecialtyBadge.tsx
  packages/ui/src/organisms/AdvocateTable.tsx
Due: eslint --fix, prettier --write

docs: add pr link
  DISCUSSION.md
Due: prettier --write

fix: address responsiveness issues on slim devices
  DISCUSSION.md
  packages/ui/src/molecules/Greeting.tsx
  packages/ui/src/templates/AdvocateListTemplate.tsx
Due: eslint --fix, prettier --write

feat: integrate React Query for advocate data management
  DISCUSSION.md
  apps/web/package.json
  apps/web/src/app/(app)/page.tsx
  apps/web/src/app/providers.tsx
  packages/hooks/src/__tests__/use-search.test.ts
  packages/hooks/src/use-search.ts
  packages/queries/package.json
  packages/queries/src/__tests__/advocates.test.ts
  packages/queries/src/__tests__/client.test.ts
  packages/queries/src/__tests__/use-advocates.test.tsx
  packages/queries/src/advocates.ts
  packages/queries/src/client.ts
  packages/queries/src/hooks/use-advocate-filter-options.ts
  packages/queries/src/hooks/use-advocates.ts
  packages/queries/src/hooks/use-prefetch-advocates.ts
  packages/queries/src/index.ts
  packages/queries/src/provider.tsx
  packages/queries/src/query-keys.ts
  packages/queries/tsconfig.json
  packages/queries/vitest.config.ts
  packages/services/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: enhance database seeding and advocate generation
  .env
  .env.example
  .github/workflows/ci.yml
  DISCUSSION.md
  apps/web/src/app/api/advocates/route.ts
  packages/database/package.json
  packages/database/src/generators/advocate-generator.ts
  packages/database/src/generators/city-generator.ts
  packages/database/src/generators/degree-generator.ts
  packages/database/src/generators/index.ts
  packages/database/src/generators/phone-generator.ts
  packages/database/src/generators/specialty-generator.ts
  packages/database/src/scripts/seed.ts
  packages/hooks/src/use-advocate-table.ts
  packages/services/src/advocates.ts
  packages/ui/src/organisms/AdvocateTable.tsx
  packages/utils/src/filter.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

feat: enhance advocate API with improved query parameter validation and Redis integration
  apps/web/src/app/api/advocates/route.ts
  packages/cache/package.json
  packages/cache/src/client.ts
  packages/cache/src/operations.ts
  packages/database/migrations/0003_abnormal_invisible_woman.sql
  packages/database/migrations/meta/0003_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/schema.ts
  packages/database/src/scripts/seed.ts
  packages/hooks/src/use-advocate-table.ts
  packages/queries/package.json
  packages/queries/src/hooks/use-advocates.ts
  packages/services/src/advocates.ts
  packages/utils/src/constants.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: implement hybrid caching strategy with LRU eviction and batch optimization
  .env.example
  DISCUSSION.md
  apps/web/src/app/api/advocates/filter-options/route.ts
  apps/web/src/app/api/advocates/route.ts
  apps/web/src/app/layout.tsx
  packages/cache/src/operations.ts
  packages/database/src/scripts/seed.ts
  packages/hooks/src/use-advocate-table.ts
  packages/queries/src/advocates.ts
  packages/services/src/advocates.ts
  packages/types/src/index.ts
  packages/ui/src/molecules/Greeting.tsx
  packages/ui/src/molecules/Pagination.tsx
  packages/ui/src/organisms/AdvocateTable.stories.tsx
  packages/ui/src/organisms/AdvocateTable.tsx
  packages/ui/src/organisms/RootLayout.tsx
  packages/ui/src/templates/AdvocateListTemplate.tsx
  packages/ui/tailwind.config.ts
  packages/utils/src/constants.ts
Due: eslint --fix, prettier --write

test: add cache operations unit tests
  packages/cache/src/__tests__/operations.test.ts
Due: eslint --fix, prettier --write

fix: skip outdated service layer tests pending refactor
  DISCUSSION.md
  packages/services/src/__tests__/advocates.test.ts
Due: eslint --fix, prettier --write
